[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
keras = "*"
numpy = "*"
jupyter = "*"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
